    /*
    Flaticon icon font: Flaticon
    Creation date: 12/03/2021 14:22
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-skyline:before { content: "\f100"; }
.flaticon-hotel:before { content: "\f101"; }
.flaticon-building:before { content: "\f102"; }
.flaticon-building-1:before { content: "\f103"; }
.flaticon-building-2:before { content: "\f104"; }
.flaticon-buildings:before { content: "\f105"; }
.flaticon-business:before { content: "\f106"; }
.flaticon-skyline-1:before { content: "\f107"; }
.flaticon-office:before { content: "\f108"; }
.flaticon-buildings-1:before { content: "\f109"; }
.flaticon-house:before { content: "\f10a"; }
.flaticon-rent:before { content: "\f10b"; }
.flaticon-deal:before { content: "\f10c"; }
.flaticon-village:before { content: "\f10d"; }
.flaticon-deal-1:before { content: "\f10e"; }
.flaticon-loan:before { content: "\f10f"; }
    
    $font-Flaticon-skyline: "\f100";
    $font-Flaticon-hotel: "\f101";
    $font-Flaticon-building: "\f102";
    $font-Flaticon-building-1: "\f103";
    $font-Flaticon-building-2: "\f104";
    $font-Flaticon-buildings: "\f105";
    $font-Flaticon-business: "\f106";
    $font-Flaticon-skyline-1: "\f107";
    $font-Flaticon-office: "\f108";
    $font-Flaticon-buildings-1: "\f109";
    $font-Flaticon-house: "\f10a";
    $font-Flaticon-rent: "\f10b";
    $font-Flaticon-deal: "\f10c";
    $font-Flaticon-village: "\f10d";
    $font-Flaticon-deal-1: "\f10e";
    $font-Flaticon-loan: "\f10f";